.idea/

venv/
env/

resources/facebook-bart-large-mnli/
build/

# jupyter notebook
.ipynb_checkpoints
*/.ipynb_checkpoints
*/**/.ipynb_checkpoints
**/.ipynb_checkpoints

__pycache__
*/__pycache__
*/**/__pycache__
**/__pycache__
